
body{
	font-family: verdana, sans-serif;
}

a{
	color: purple;
	text-decoration: none;
}

a:hover, a:visited, a:focus{
	color:#577ae4;
}

h1.app-title{
	color: green;
	text-align: center;
	margin-bottom: 0.8em;
}

h2{
	font-size: 1.6rem !important;
}

td{
	padding: 0 1.3em;
}

thead{
	background: #a0cee2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

.content{
	padding: 0 20px 20px 20px;
}

.adj-title{
	color: #666;
	font-weight: bold;
}

.adj-desc{
	font-size: 0.8rem;
	margin: 5px 40px;
	text-align: center;
	margin-bottom: 2em;
}

.adj-desc span{
	display: block;
	margin-top: 0.1em;
}

#results .adjusted-score,
#results-match .adjusted-score{
	display: none;	
}

#adjusted-results .score,
#adjusted-match-results .score{
	display: none;
}

.adjusted-score.different{
	background: coral;
}

.results-list{
	max-width: 600px;
	padding: 0;
	font-size: 0.9em;
}

.results-list li{
	list-style: none;
	padding: 20px 0;
	display: inline-block;
	border-bottom: 1px solid black;
	width: 100%;
}

.results-list li a{
	color: #000;	
}

.results-list li:first-child{
	border-top: 1px solid black;
}

.copyright{
	margin-top: 60px;
	text-align: center;
}

@media (min-width: 450px){
	body{
		padding: 30px;
	}
	h2.your-results{
		margin-bottom: 0;
	}
	.catch-me-up-pagination.top{
		margin-top: -20px;
	}
}