
body{
	font-family: verdana, sans-serif;
}

a{
	color: purple;
	text-decoration: none;
}

a:hover, a:visited, a:focus{
	color:#577ae4;
}

h1.app-title{
	color: green;
}

.adj-title{
	color: #666;
	font-weight: bold;
}

.adj-desc{
	font-size: 0.8em;
	margin: 5px 40px;
}

.adj-desc span{
	display: block;
	margin-top: 5px;
}

form{
	padding: 20px;
}

legend{
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 10px;
}

.results-wrap{
	padding: 20px;
}

.results-wrap:nth-of-type(1){
	float: left;
	border-right: 5px solid green;
	margin-right: 20px;
}

#results .adjusted-score{
	display: none;	
}

#adjusted-results .score{
	display: none;
}

.results-list{
	max-width: 600px;
	padding: 0;
	font-size: 0.9em;
}

.results-list li{
	list-style: none;
	padding: 20px 0;
	display: inline-block;
	border-bottom: 1px solid black;
	width: 100%;
}

.results-list li a{
	color: #000;	
}

.results-list li:first-child{
	border-top: 1px solid black;
}

.copyright{
	margin-top: 60px;
	text-align: center;
}

@media (min-width: 450px){
	body{
		padding: 30px;
	}
	h2.your-results{
		margin-bottom: 0;
	}
	.catch-me-up-pagination.top{
		margin-top: -20px;
	}
}