#################
## OS detritus
#################
# Mac
.DS_Store

# Visual studio code
.vscode/

#################
# codebase files to ignore
#################
node_modules/
notes-documentation/
//Some requests to the football-data.org API, pert
Project planning.docx
Salary sources.docx
Steps - to do list
switch_statement.html
The API.docx